<app-navbar></app-navbar>

<div class="row ">
  <div class="col-auto col-md-3 col-xl-2   ">


    <app-sidebar></app-sidebar>
  </div>

  <div class="col-sm-10 col-xl-4 col-md-3 col-lg-3  " style="width:80%;">
    <h1 style="padding:30px">profile</h1> <!-- ask -->
    <div style="padding-left:90%;">
     
    </div> <!-- ask -->

    <div class="container"
      style="background-image: url('/assets/pexels-polina-tankilevitch-3873149.jpg'); margin:2rem; padding-left:1 rem">
      <form (ngSubmit)="updateUserrData()" [formGroup]="form" method="post">
        <div class="form-group">
          <label for=" name"> name</label>

          <input type="text" class="form-control" formControlName="name" name="name"
            [ngClass]="{'is-invalid': submitted &&f['name'].errors}" required />

          <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
            <div *ngIf="f['name'].errors['required']">
              name is required
            </div>
          </div>
        </div>





        <div class="form-group">
          <label for=" email"> email</label>
          <input type="email" name="email" formControlName="email" class="form-control"
          [ngClass]="{'is-invalid': submitted && f['email'].errors}" required />

            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                      <div *ngIf="f['email'].errors['required']">
                        email is required
                      </div>


                      <div *ngIf="f['email'].errors['email']">
                        email must be valid
                      </div>

                    </div>
        </div>



        <div class="form-group">
          <label>Password</label>

      <input type="password" name="password" formControlName="password" class="form-control"
                      [ngClass]="{'is-invalid': submitted &&f['password'].errors}" required />

                <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                      <div *ngIf="f['password'].errors['required']">
                        password is required
                      </div>


                      <div *ngIf="f['password'].errors['minlength']">
                        email must be more than 6 letter
                      </div>

                    </div>
        </div>




        <div class="form-group">
          <label for=" city"> city</label>
          
          <input type="text" class="form-control" formControlName="city" name="city"
          [ngClass]="{'is-invalid': submitted && f['city'].errors}" required />

          
            <div *ngIf="submitted && f['city'].errors" class="invalid-feedback">
              <div *ngIf="f['city'].errors['required']">
                city is required
              </div>

            </div>
        </div>

        <div class="form-group">
          <label for=" street"> street</label>
          <input type="text" class="form-control" formControlName="street" name="street"
          [ngClass]="{'is-invalid': submitted && f['street'].errors}" required />

     
                    <div *ngIf="submitted && f['street'].errors" class="invalid-feedback">
                      <div *ngIf="f['street'].errors['required']">
                        street is required
                      </div>

                    </div>
        </div>


        <button type="submit" class="btn btn-dark btn-sm mt-4">UPDATE</button> <br>

      </form>
    </div>


  </div>
</div>