<app-navbar></app-navbar>

 <div class="row "> 
    <div class="col-auto col-md-3 col-xl-2   ">
        
       
  <app-sidebar></app-sidebar>
</div>

  <div class="col-sm-10 col-xl-4 col-md-3 col-lg-3  " style="width:80%;"> 
    <h1 style="padding:30px">profile</h1> <!-- ask -->  
    <div style="padding-left:90%;">
      <button type="button" class=" btn btn-warning" routerLink="/drugs/add" >add admin</button></div> <!-- ask -->
      <!-- <form (ngSubmit)="updateuser()" [formGroup]="form"> -->
        <div class="form-group">
          <label for="exampleFormControlInput1">Email address</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">name</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">city</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
        </div>
      <!-- </form> -->
    
    
    
    <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
 
</div>
</div>    