<style>
  #add {
    margin-top: -70px;
    margin-left: -20px;
  }
  #t {
    padding-right: 80px;
  }
  #a {
    display: inline-block;
    margin-right: 8px;
  }
</style>
<app-navbar></app-navbar>

<div class="row">
  <div class="col-auto col-md-3 col-xl-2">
    <app-sidebar></app-sidebar>
  </div>

  <div class="col-sm-10 col-xl-9 col-md-8 col-lg-8">
    <h1 style="padding: 40px">DRUGS</h1>
    <div style="text-align: right;">
      <button
        type="button"
        class="btn btn-warning"
        id="add"
        routerLink="/drugs/add"
      >
        add drug
      </button>
    </div>
    <table class="table table-hover my-0" id="t">
      <thead>
        <tr>
          <th class="d-none d-md-table-cell">image</th>

          <th class="d-none d-xl-table-cell">Name (English)</th>
          <th class="d-none d-xl-table-cell">Name (Arabic)</th>

          <th class="d-none d-xl-table-cell">price</th>
         
          <th class="d-none d-xl-table-cell">production_date</th>
          <th class="d-none d-xl-table-cell">expiry_date</th>
          <th class="d-none d-xl-table-cell">action</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let drug of drugs | paginate: { itemsPerPage: 4, currentPage: p }
          "
        >
          <td class="d-none d-md-table-cell">
            <img src="{{ imageDirectoryPath }}{{ drug.image }}" alt="" />
          </td>

         
          <td class="d-none d-xl-table-cell">{{ drug.trade_name_en }}</td>
          <td>{{ drug.trade_name_ar }}</td>

          <td class="d-none d-xl-table-cell">{{ drug.price }}</td>

          

          <td class="d-none d-md-table-cell">{{ drug.production_date }}</td>

          <td class="d-none d-md-table-cell">{{ drug.expiry_date }}</td>

          <td class="d-none d-md-table-cell">
            <button id="a" class="btn-danger" (click)="deleteData(drug.id)">
              <i class="fa-solid fa-xmark"></i>
            </button>
            <button id="a" class="btn-warning" routerLink="/drugs/edit/{{ drug.id }}">
              <i class="fa-solid fa-pen"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <br><br>
    <div id="c">
      <pagination-controls
        class="my-pagination"
        (pageChange)="p = $event"
      ></pagination-controls>
    </div>
  </div>
</div>
