<div class="card" style="width: 18rem;" >
  
    <div class="card-body">
      <h5 class="card-title"> <img src="{{imageDirectoryPath}}{{drug.image}}" alt=""></h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{drug.description}}</li>
      <li class="list-group-item">{{drug.trade_name_en}}</li>
      <li class="list-group-item">{{drug.trade_name_ar}}</li>
    </ul>
    <div class="card-body">
      <a   class="card-link">Card link</a>
     
      <button  class="btn btn-primary"  routerLink="/home/cart" (click)="addToCart()">go to cart</button>
    </div>
  </div>
