
<app-navbar></app-navbar>

<div class="row ">
  <div class="col-auto col-md-3 col-xl-2  ">


    <app-sidebar></app-sidebar>
  </div>

  <div class="col-sm-10 col-xl-4 col-md-3 col-lg-3  " style="width:80%;">
 
    <div class="container"
      style="background-image: url('/assets/pexels-polina-tankilevitch-3873149.jpg'); margin:2rem; padding-left:1 rem">
      <form (ngSubmit)="insertDrugssData()" method="post" [formGroup]="form">
        <div class="form-group">
          <label for="image"> image</label>
          <input type="file" class="form-control" (change)="uploadImage($event)" name="image" formControlName="image">
        </div>
        
        <div class="form-group">
          <label for=" trade_name_en"> Name (English)</label>
          <input type="text" class="form-control" formControlName="trade_name_en" name="trade_name_en" [(ngModel)]="drug.trade_name_en">
        </div>
        <div class="form-group">
          <label for=" trade_name_ar"> Name (Arabic)</label>
          <input type="text" class="form-control" formControlName="trade_name_ar" name="trade_name_ar" [(ngModel)]="drug.trade_name_ar">
        </div>


        <div class="form-group">
          <label for="price"> price</label>
          <input type="number" class="form-control" formControlName="price" name="price" [(ngModel)]="drug.price">
        </div>
        <div class="form-group">
          <label for="  description"> description</label>
          <input type="text" class="form-control" formControlName="description" name="description" [(ngModel)]="drug. description">
        </div>

        <div class="form-group">
          <label for="production_date"> production_date</label>
          <input type="date" class="form-control" formControlName="production_date" name="production_date" [(ngModel)]="drug.production_date">
        </div>

        <div class="form-group">
          <label for="expiry_date"> expiry_date</label>
          <input type="date" class="form-control" formControlName="expiry_date" name="expiry_date" [(ngModel)]="drug.expiry_date">
        </div>
        <div class="form-group">
          <label for=" category"> category</label>
          <select name="category_id" formControlName="category_id" [(ngModel)]="drug.category_id">
            <option>select category</option>
            <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
          </select>
        </div>
        <button type="submit" class="btn btn-dark btn-sm mt-4">ADD</button><br>
     

      </form>
    </div>











  </div>
</div>




























<footer class="footer">
  <div class="container-fluid">
    <div class="row text-muted">
      <div class="col-6 text-start">
        <p class="mb-0">
          <a class="text-muted" href="https://adminkit.io/" target="_blank"><strong>pharmatech</strong></a> &copy;
        </p>
      </div>
      <div class="col-6 text-end">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a class="text-muted" href="https://adminkit.io/" target="_blank">Support</a>
          </li>
          <li class="list-inline-item">
            <a class="text-muted" href="https://adminkit.io/" target="_blank">Help Center</a>
          </li>
          <li class="list-inline-item">
            <a class="text-muted" href="https://adminkit.io/" target="_blank">Privacy</a>
          </li>
          <li class="list-inline-item">
            <a class="text-muted" href="https://adminkit.io/" target="_blank">Terms</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>