<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100" style="background-color: #0a4b78;">
    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-5 d-none d-sm-inline"></span>
    </a>
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
        <li class="nav-item">
            <a routerLink=""  class="nav-link align-middle px-0" style="color:whitesmoke">
                <i class="fs-4 bi-house " ></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
            </a>
        </li>

        <li>
            <a routerLink="/orders" class="nav-link px-0 align-middle" style="color:whitesmoke">
                <i class="far fa-square"></i> orders<span class="ms-1 d-none d-sm-inline"></span> </a>
        </li>

        <li>
            <a routerLink="/drugs" class="nav-link px-0 align-middle"style="color:whitesmoke">
                <i class="far fa-check-square"></i> drugs<span class="ms-1 d-none d-sm-inline"></span> </a>
        </li>
        
        <li>
            <a routerLink="/categories" class="nav-link px-0 align-middle"style="color:whitesmoke">
                <i class="far fa-check-square"></i> categories<span class="ms-1 d-none d-sm-inline"></span> </a>
        </li>
        <li>
            <a  routerLink="/users" class="nav-link px-0 align-middle"style="color:whitesmoke">
                <i class="fs-4 bi-grid"></i> users<span class="ms-1 d-none d-sm-inline"></span> </a>
        </li>

        <li>
            <a routerLink="/profile"  class="nav-link px-0 align-middle"style="color:whitesmoke">
                <i class="fas fa-user"></i> profile<span class="ms-1 d-none d-sm-inline"></span> </a>
        </li>
    
       
        <p>_____________________</p>
   
        <li>
            <a  href="" class="nav-link px-0 align-middle"(click)="logout()" style="color:whitesmoke">
                <i class="far fa-keyboard" ></i> logout<span class="ms-1 d-none d-sm-inline"></span> </a>
        </li>
        
    
    </ul>
</div>

