<!-- header start -->
<style>
    #logout:hover {
        cursor: pointer;
        color: darkblue;
    }
    
</style>
<header class="header-area gray-bg clearfix" class="topnav" id="myTopnav">
    <div class="header-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-6">
                    <div class="logo">
                        <a href="index.html">
                            <img id="logo" alt="" src="assets/.assets/img/logo/logo.png">
                        </a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8 col-6">
                    <div class="header-bottom-right">
                        <div class="main-menu">
                            <nav>
                                <ul>
                                    <li class="top-hover"><a routerLink="/home" data-toggle="tooltip" data-placement="home" title="tmm!">home</a></li>
                                    <li><a routerLink="/about">about</a></li>
                                    <!-- <li class="top-hover"><a >Drug</a> -->
                                    <!-- <ul class="submenu"> -->
                                    <li><a routerLink="/home/drug">Drugs</a></li>

                                    <!-- <li><a routerLink="/home/skin" >Skin & hair Care</a></li> -->

                                    <!-- </ul>
                                    </li> -->
                                    <!-- <li><a  routerLink="/home/cart">cart page</a></li>  -->

                                    <span *ngIf="!token">
                                        <li><a routerLink="/login">Login</a></li>
                                    </span>

                                    <span *ngIf="token">
                                        <li (click)="logout()"><a id="logout">Logout</a></li>
                                    </span>
                                    <!-- <li><a routerLink="/register">Register</a></li> -->

                                    <li><a routerLink="/home/contact">contact</a></li>
                                    <li><button routerLink="/home/cart" class="btn btn-primary">
                                            <i class="fas fa-cart-plus">

                                            </i>
                                            <div class="badge bg-danger">{{drugCount}}</div>
                                        </button>
                                    </li>
                                    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                                        <i class="fa fa-bars"></i>
                                      </a>
                                    <!-- <li><a href="">logout</a></li> -->
                                </ul>
                            </nav>

                        </div>
                        <div class="header-currency">

                        </div>
                        <div class="header-cart">
                            <a href="#">
                                <div class="cart-icon">
                                    <i class="ti-shopping-cart"></i>
                                    <div class="badge bg-danger">{{drugCount}}</div>
                                </div>
                            </a>
                            <div class="shopping-cart-content">
                                <ul>
                                    <li class="single-shopping-cart"*ngFor="let drug of cart?.drugs ;"  >
                                        <div class="shopping-cart-img">
                                            <a href="#" ><img id="no" src="{{imageDirectoryPath}}{{drug.image}}" alt=""></a>
                                        </div>
                                        <div class="shopping-cart-title">
                                            <h4><a href="#">{{drug.trade_name_en}} </a></h4>
                                            <h6>Qty:{{drug.pivot.drug_quantity}}</h6>
                                            <span>{{drug.price | currency}}</span>
                                        </div>
                                        <div class="shopping-cart-delete">
                                          
                                          <button  (click)="removeFromCart(drug)"><i class="ion ion-close"></i></button>
                                        </div>
                                        
                                    </li>
                                    <!-- <li class="single-shopping-cart">
                                        <div class="shopping-cart-img">
                                            <a href="#"><img alt="" src="assets/.assets/img/cart/cart-2.jpg"></a>
                                        </div>
                                        <div class="shopping-cart-title">
                                            <h4><a href="#">Phantom Remote</a></h4>
                                            <h6>Qty: 02</h6>
                                            <span>$260.00</span>
                                        </div>
                                        <div class="shopping-cart-delete">
                                            <a href="#"><i class="ion ion-close"></i></a>
                                        </div>
                                    </li> -->
                                
                                
                                
                                </ul>

                                <div class="shopping-cart-total" >
                                    
                                    <h4>Total : <span class="shop-total">{{ totalPrice | currency}}</span></h4>
                                </div>
                                <div class="shopping-cart-btn">
                                    <a routerLink="/home/cart">view cart</a>
                                    <button  (click)=" emptycart()">REMOVE ALL</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-menu-area">
                <div class="mobile-menu">
                    <nav id="mobile-menu-active">
                        <ul>
                            <li class="top-hover"><a href="index.html">home</a></li>
                            <li><a href="about-us.html">about</a></li>
                            <li class="top-hover"><a href="#">Drug</a>
                                <ul class="submenu">
                                    <li><a href="drug.html">Drugs</a></li>
                                    <li><a href="skin.html">Skin & hair Care</a></li>
                                </ul>
                            </li>
                            <li class="top-hover"><a href="#">pages</a>
                                <ul class="submenu">
                                    <li><a href="about-us.html">about us </a></li>
                                    <li><a href="shop.html">shop Grid</a></li>
                                    <li><a href="shop-list.html">shop list</a></li>
                                    <li><a href="product-details.html">product details</a></li>
                                    <li><a href="cart-page.html">cart page</a></li>
                                    <li><a href="checkout.html">checkout</a></li>
                                    <li><a href="wishlist.html">wishlist</a></li>
                                    <li><a href="my-account.html">my account</a></li>
                                    <li><a href="login-register.html">login / register</a></li>
                                    <li><a href="contact.html">contact</a></li>
                                </ul>
                            </li>
                           
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header end -->