<table class="table table-hover my-0">
  <thead>
    <tr>
      <th>Username</th>
      <th class="d-none d-xl-table-cell">email</th>

      <th class="d-none d-md-table-cell">city</th>
      <th class="d-none d-md-table-cell">street</th>
      <th>action</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let user of users | paginate: { itemsPerPage: 4, currentPage: p }"
    >
      <td>{{ user.name }}</td>
      <td class="d-none d-xl-table-cell">{{ user.email }}</td>

      <td class="d-none d-xl-table-cell">{{ user.city }}</td>
      <td class="d-none d-md-table-cell">{{ user.street }}</td>
      <td class="d-none d-md-table-cell">
        <button class="btn-danger" (click)="deleteUserData(user.id)" style="margin-right: 5px;">
          <i class="fa-solid fa-xmark"></i></button
        >
        <button class="btn-warning" routerLink="/edit/{{ user.id }}">
          <i class="fa-solid fa-pen"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<br><br>
<pagination-controls
  class="my-pagination"
  (pageChange)="p = $event"
></pagination-controls>
