<table class="table table-hover my-0" style="margin: 4rem; padding-top: 10rem;">
    <thead>
        <tr>
            <th> user_name</th>
            <th class="d-none d-xl-table-cell">email</th>
            <th class="d-none d-xl-table-cell">password</th>
          
            <th class="d-none d-md-table-cell">city</th>
            <th class="d-none d-md-table-cell">street</th>
            <th>action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.name}}</td>
            <td class="d-none d-xl-table-cell">{{user.email}}</td>
            <td class="d-none d-xl-table-cell">{{user.password}}</td>
            
            <td class="d-none d-xl-table-cell">{{user.city}}</td>
            <td class="d-none d-md-table-cell">{{user.street}}</td>
             <td class="d-none d-md-table-cell"><button class="btn-danger" (click)="deleteData(user.id)"><i class="fa-solid fa-xmark"></i></button> <button class="btn-warning" ><i class="fa-solid fa-pen"></i></button></td> 
        </tr>
        <!-- hnkml kol elli ta7t zy elli fo2 w 3wzin ns2l ezay el btn n5liha dynamic -->
 
    </tbody>
</table>





