#link{
    font-size: 20px;
    color: blue;
   
}
#link span :hover{
    color: blue;
}
#link:hover{
    color: blue !important;
    font-size: 30px;
}

#s{

    width: 400px;
    font-size: large;
    margin-left: 550px; 
}
#z{
    text-align: right;
}

#arrow{
    margin: 10px;
  }
  #cart{
    font-size: 30px;
    font-family: cursive;
  }