#link{
    font-size: 20px;
    color: blue;
}
#link span :hover{
    color: blue;
}
#link:hover{
    color: blue !important;
    font-size: 30px;
}
#cart:hover{

text-decoration: underline;
font-size: 20px;

}