
 <div class="box" style="width: 18rem; padding: 20px; margin: 1rem;">
    <div class="card">
      <div class="imgBx">
          <img src="{{imageDirectoryPath}}{{drugItem.image}}" alt="images">
      </div>
      <div class="details">
          <h2>name:<br><span>{{drugItem.trade_name_en}}</span></h2>
           <h2>price:<br><span>{{drugItem.price}}</span></h2>
          
            <a id="details" routerLink="/home/details/{{drugItem.id}}" class="card-link">see datails</a>
      <button  id='cart' (click)="addtoCart( )" class="btn">add to cart</button>
<!--      
      <p>{{drugItem.category_id}}</p> -->
 
      </div>
    </div>
  
   